body {
	background-color: lightblue;
}
h1{
	font-size: 4em;
	text-align: center;
}
form {
	text-align: center;
}

p{
	font-size: 150%;
	text-align: center;
}
table, th, td {
	margin: auto;
	border: 0.1em solid black;
	text-align: center;
	width: 50%;
}